@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */
*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  background-color: hsl(0, 0%, 95%);
}
.container {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(3, 305px);
  height: fit-content;
}
.section-I {
  padding: 35px 54px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: hsl(31, 77%, 52%);
}
.section-III {
  padding: 35px 54px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(179, 100%, 13%);
}
@media (max-width: 920px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
    grid-template-columns: repeat(1, 305px);
  }
  .section-III {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .section-I {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}
.section-II {
  padding: 35px 54px;
  background-color: hsl(184, 100%, 22%);
}
.content h1 {
  margin-top: 20px;
  padding: 35px 0;
  font-size: 2.5em;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
.content p {
  margin-bottom: 20px;
  padding-bottom: 80px;
  font-size: 0.9375em;
  color: hsla(0, 0%, 100%, 0.75);
}

/* button  */

.btn-info {
  border-radius: 1.5625rem;
  border: 1px solid hsl(0, 0%, 95%);
  background: hsl(0, 0%, 95%);
  padding: 10px 25px;
  text-align: center;
}
.btn-info:hover {
  background: none;
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  transition: all 0.2s ease-ou;
}
.og {
  color: hsl(31, 77%, 52%);
}
.dc {
  color: hsl(184, 100%, 22%);
}
.vdc {
  color: hsl(179, 100%, 13%);
}

.attribution {
  position: relative;
  top: 140px;
  font-size: 0.6875em;
  text-align: center;
}
